# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/
next-env.d.ts

# env files — never commit secrets
.env
.env*.local
.env.production

# vercel
.vercel

# testing / coverage
coverage/

# misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editors
.vscode/*
!.vscode/extensions.json
.idea/

# misc caches
*.tsbuildinfo
.eslintcache
